src/main/app/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="exampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <logger message="Log de inbound properties de http--&gt; #[message.inboundProperties]" level="INFO" doc:name="Logger"/>
        <logger message="Id: #[message.id] #['\r\n'] CorrelationId: #[message.correlationId]" level="INFO" doc:name="Logger"/>
        <flow-ref name="exampleFlow1" doc:name="exampleFlow1"/>
        <set-payload value="Hola Mundo" doc:name="Set Payload"/>
    </flow>
    <flow name="exampleFlow1">
        <logger message="Id_2: #[message.id] #['\r\n'] CorrelationId_2: #[message.correlationId]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
